@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #232536;
    --bg-color2: #444CFC;
    --text-color: #FFD3AF;
}

.container {
    background: var(--bg-color);

    header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        background: var(--bg-color);


        .header-inner {
            max-width: 1200px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            margin: auto;
            justify-content: space-between;

            .logo {
                h1 {
                    color: #fff;
                    font-weight: 500;
                }
            }

            .header-links {
                ul {
                    display: flex;
                    gap: 30px;

                    a {
                        color: #ffffff52;
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            width: 0%;
                            margin-top: -20px;
                            height: 2px;
                            top: 0;
                            background: #FFA155;
                            transition: all 0.5s ease;
                        }

                        &:hover::before {
                            content: "";
                            width: 100%;

                        }
                    }

                    .first {
                        color: #fff;

                        &::before {
                            content: "";
                            width: 100%;
                        }
                    }

                    .end {
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}

