@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
}

.continer {
    width: 1280px;
    margin: auto;
}

:root {
    --bg-color: #232536;
    --bg-color2: #444CFC;
    --text-color: #FFD3AF;
}

.container {
    background: var(--bg-color);

    header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        background: var(--bg-color);
        padding: 8px;

        .header-inner {
            max-width: 1200px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            margin: auto;
            justify-content: space-between;
            position: sticky;
            top: 0;

            .logo {
                h1 {
                    color: #fff;
                    font-weight: 500;
                }
            }

            .header-links {
                ul {
                    display: flex;
                    gap: 30px;

                    a {
                        color: #ffffff52;
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            width: 0%;
                            margin-top: -20px;
                            height: 2px;
                            top: 0;
                            background: #FFA155;
                            transition: all 0.5s ease;
                        }

                        &:hover::before {
                            content: "";
                            width: 100%;

                        }
                    }

                    .first {
                        color: #fff;

                        &::before {
                            content: "";
                            width: 100%;
                        }
                    }

                    .end {
                        color: var(--text-color);
                    }
                }
            }

            i {
                display: none;
            }
        }
    }
}

.section-1 {
    background-color: rgba(255, 230, 210, 1);
    width: 100%;
    height: 100%;
    padding: 80px 0;

    .our_pages_parents {
        display: flex;
        gap: 250px;

        .our_pages {
            h4 {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 3px;
                text-align: left;
                color: #232536;
                padding-bottom: 12px;
            }

            h1 {
                width: 750px;
                font-family: Poppins;
                font-size: 48px;
                font-weight: 600;
                line-height: 58px;
                text-align: left;
                color: #232536;
                padding-bottom: 24px;
            }

            p {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: var(--bg-color);
                width: 624px;
                padding-bottom: 40px;
            }

            button {
                width: 231px;
                height: 64px;
                background: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
                border: none;
                cursor: pointer;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                color: #fff;
            }

            button:hover {
                background: transparent;
                border: 1px solid #444CFC;
                color: #444CFC;
                transition: all 0.3s linear;
            }
        }

        ul {
            a {
                padding-top: 35px;
                font-family: Poppins;
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                text-align: left;
                color: var(--bg-color);
                padding-bottom: 16px;
            }
        }
    }


}

.section-2 {
    width: 100%;
    height: 100%;
    padding: 50px 0;

    .our_progres {
        h4 {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 3px;
            text-align: left;
            color: var(--bg-color);
            padding-bottom: 16px;
        }

        h2 {
            width: 733px;
            font-family: Poppins;
            font-size: 48px;
            font-weight: 600;
            line-height: 58px;
            text-align: left;
            color: var(--bg-color);
            padding-bottom: 16px;
        }

        p {
            width: 645px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #232536;
            padding-bottom: 65px;
        }

        .our_progres_cards {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .our_progres_cards_one {
                width: 395px;
                height: 164px;
                border: 1px solid rgba(35, 37, 54, 0.17);
                display: flex;
                padding: 30px 20px;

                h6 {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 28px;
                    text-align: left;
                    color: black;
                    padding-bottom: 6px;
                    padding-left: 10px;
                }

                p {
                    width: 280px;
                    padding-left: 10px;
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    color: rgba(35, 37, 54, 1);

                }

                h4 {
                    font-family: Poppins;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    text-align: right;
                    color: lightgray;
                }
            }
        }
    }
}

.section-3 {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    .support_img {
        display: flex;
        justify-content: space-between;
        .support_div {
            padding-top: 150px;
            h4 {
                color: var(--bg-color);
                font-family: Poppins;
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                text-align: left;
                padding-bottom: 16px;
            }

            h3 {
                width: 625px;
                font-family: Poppins;
                font-size: 36px;
                font-weight: 600;
                line-height: 54px;
                text-align: left;
                color: var(--bg-color);
                padding-bottom: 24px;
            }

            p {
                width: 622px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: var(--bg-color);
            }
        }
    }
}

.section-4{
    width: 100%;
    height: 100%;
    background-color: rgba(236, 248, 249, 1);
    padding: 50px 0;
    .support_img {
        display: flex;
        justify-content: space-between;
        .support_div {
            padding-top: 150px;
            h4 {
                color: var(--bg-color);
                font-family: Poppins;
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                text-align: left;
                padding-bottom: 16px;
            }

            h3 {
                width: 625px;
                font-family: Poppins;
                font-size: 36px;
                font-weight: 600;
                line-height: 54px;
                text-align: left;
                color: var(--bg-color);
                padding-bottom: 24px;
            }

            p {
                width: 622px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: var(--bg-color);
            }
        }
    }
}
.section-6{
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249, 255, 1);
    padding: 50px 0;
    .support_img {
        display: flex;
        justify-content: space-between;
        .support_div {
            padding-top: 150px;
            h4 {
                color: var(--bg-color);
                font-family: Poppins;
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                text-align: left;
                padding-bottom: 16px;
            }

            h3 {
                width: 625px;
                font-family: Poppins;
                font-size: 36px;
                font-weight: 600;
                line-height: 54px;
                text-align: left;
                color: var(--bg-color);
                padding-bottom: 24px;
            }

            p {
                width: 622px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: var(--bg-color);
            }
        }
    }
}